@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles here */
body {
  font-family: 'Roboto', sans-serif;
}

#home {
  background-image: url(./Assets/Images/AdvMane1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.Mobile_Bg_Cover{
  background-image: url(./Assets/Images/advback.jpg)!important;
}

.menu-enter {
  transform: translateX(100%);
}

.menu-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.menu-exit {
  transform: translateX(0);
}

.menu-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}
